<div class="sidebar" style="background-image: url(<%= image_path "flower_vertical.jpg"%>)">
  <div class="pl-3">
    <%= link_to index_path do %>
      <%= image_tag "logo.png", alt: "Phung Consulting Logo", class:"pl-xl-5 ml-xl-4 pl-lg-5 ml-lg-4 pl-md-2 ml-md-2 pl-sm-2 ml-sm-2" %>
    <% end %>
  <div class="sidebar-links pl-xl-5 ml-xl-4 pl-lg-5 ml-lg-4 pl-md-2 ml-md-2 pl-sm-2 ml-sm-2">
      <p><%= link_to "accueil", root_path, class:"sidebar-link" %></p>
      <p><%= link_to "la société", index_path, class:"sidebar-link" %></p>
      <p><%= link_to "activités", activites_path, class:"sidebar-link" %></p>
      <p><%= link_to "références", references_path, class:"sidebar-link" %></p>
      <p><%= link_to "événements", evenements_path, class:"sidebar-link" %></p>
      <p><%= link_to "documents", documents_path, class:"sidebar-link" %></p>
      <p><%= link_to "about us", about_us_path, class:"sidebar-link" %></p>
      <p><%= link_to "contact", contact_path, class:"sidebar-link" %></p>
    </div>
  </div>
</div>
