<div class="sidebar" style="background-image: url(<%= image_path "flower_vertical.jpg"%>)">
  <div class="pl-3">
    <%= image_tag "logo.png", alt: "Phung Consulting Logo", class:"pl-xl-5 ml-xl-4 pl-lg-4 ml-lg-4 pl-md-3 ml-md-3 pl-sm-2 ml-sm-2" %>
    <div class="sidebar-links py-4 pl-xl-5 ml-xl-4 pl-lg-4 ml-lg-4 pl-md-3 ml-md-3 pl-sm-2 ml-sm-2">
      <p><%= link_to "accueil", "#", class:"sidebar-link" %></p>
      <p><%= link_to "societe", "#", class:"sidebar-link" %></p>
      <p><%= link_to "activites", "#", class:"sidebar-link" %></p>
      <p><%= link_to "references", "#", class:"sidebar-link" %></p>
      <p><%= link_to "evenements", "#", class:"sidebar-link" %></p>
      <p><%= link_to "documents", "#", class:"sidebar-link" %></p>
      <p><%= link_to "about us", "#", class:"sidebar-link" %></p>
      <p><%= link_to "contact", "#", class:"sidebar-link" %></p>
    </div>
  </div>
</div>
