
<div class="container">

  <div class="home d-flex align-items-center justify-content-center flex-column">
    <%= link_to index_path do %>
      <div class="text-center py-xl-5 my-xl-5 py-lg-4 my-lg-4 py-md-3 my-md-3 py-sm-2 my-sm-2">
        <%= image_tag "logo.png", alt: "logo" %>
        <p style="font-family: serif; color: #808080; font-size: 22px">Bureau d'études fluides</p>
      </div>
    <% end %>
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "banner/banner1.jpg", alt: "First banner", class:"d-block home-banner" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "banner/banner2.jpg", alt: "Second banner", class:"d-block home-banner" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "banner/banner3.jpg", alt: "Second banner", class:"d-block home-banner" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "banner/banner4.jpg", alt: "Second banner", class:"d-block home-banner" %>
        </div>
      </div>
    </div>
  </div>

</div>
