<div class="all-container">
  <div class="section-container" id="societe-container">
    <h1>Ingénierie en génie climatique, électrique,
    énergétique et environnemental</h1>

    <%= image_tag "phung_vincennes.jpg", alt: "phung_vincennes", class:"office-picture pt-xl-5 pt-lg-4 pt-md-3 pt-sm-3" %>

    <div class="text pt-4">
      <p>Bureaux :</p>
      <p>110, rue de Fontenay 94300 Vincennes</p>
      <p>Tél : +33 (0)1 48 59 12 96</p>
      <p>email : <%= link_to "contact@phungconsulting.fr", "mailto:contact@phungconsulting.fr"  %></p>
    </div>

    <div class="text pt-4 pb-2">
      <p>Lydie PHUNG, gérante</p>
      <p><small>Code APE/NAF : 7112 B - Ingénierie, études techniques</p>
      <p><small>N° SIREN : 492 583 539 RCS Créteil</small></p>
      <p><small>EURL au capital de 30 000€</small></p>
      <p><small>TVA : FR 55 49 25 83 53 – TVA sur encaissement</small></p>
      <p><small>EUROMAF-ID : 7383027/E/10 - N° POLICE : 7003094/S</small></p>
    </div>
  </div>

  <div class="section-container hidden" id="activites-container">
    <h1>Ingénierie en génie climatique, électrique,
    énergétique et environnemental</h1>

    <div class="title pt-4">
      <h2>activités - domaines</h2>
      <p>Etudes de conception depuis l'avant projet jusqu'au dossier d'appel d'offres et suivi de chantier</p>
    </div>

    <div class="text pt-4">
      <h2>Nos domaines</h2>
      <p>Réalisation des installations en génie climatique, en plomberie-sanitaire et en éléctricité</p>
    </div>

    <div class="text pt-4">
      <h2>Nos missions</h2>
      <p>Assistance à la maitrise d'ouvrage : accompagnement de la conception du projet à l'explotation du site</p>
      <p>Maitrise d'œuvre : suivi des projets depuis le concours jusqu'à la réception du chantier</p>
    </div>

    <div class="text pt-4">
      <h2>Notre secteur d'activité</h2>
      <p>Batiments tertiaires industriels ou résidentiels et collectifs</p>
    </div>

    <div class="text pt-4">
      <h2>Notre philosophie</h2>
      <p>Solution sur mesure, respect des délais, des coûts et de l'impact environnemental.</p>
    </div>
  </div>

  <div class="section-container hidden" id="references-container">
    <h1>Ingénierie en génie climatique, électrique,
    énergétique et environnemental</h1>

    <div class="title pt-4">
      <h2>principales références</h2>
      <%= link_to "/pdf/references2016.pdf", target:"_blank", class:"btn btn-primary" do %>
        Téléchargez le PDF
      <% end %>
    </div>

    <div class="reference-categories pt-4">
      <div>
        <p>Audits</p>
        <%= image_tag "audits.jpg", alt: "audits", class:"reference-picture" %>
      </div>
      <div>
        <p>Logements</p>
        <%= image_tag "logements.jpg", alt: "logements", class:"reference-picture" %>
      </div>
      <div>
        <p>Tertiaires</p>
        <%= image_tag "tertiaires.jpg", alt: "tertiaires", class:"reference-picture" %>
      </div>
    </div>

    <div class="text-center">
      <div id="reference-carousel" class="carousel slide pt-4 pb-2" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "reference/reference1.jpg", alt: "First reference", class:"d-block reference-carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "reference/reference2.jpg", alt: "Second reference", class:"d-block reference-carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "reference/reference3.jpg", alt: "Third reference", class:"d-block reference-carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "reference/reference4.jpg", alt: "Fourth reference", class:"d-block reference-carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "reference/reference4.jpg", alt: "Fifth reference", class:"d-block reference-carousel" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container hidden" id="evenements-container">
    <h1>Ingénierie en génie climatique, électrique,
    énergétique et environnemental</h1>

    <div class="text text-center pt-5">
      <p class="text pb-2 text-center">Vœux 2019</p>
      <%= image_tag "phung_voeux19.jpg", alt: "Bonne année 2019", class:"event-picture" %>
    </div>

    <div class="text pt-4 text-center">
      <p class="text pb-2">Vœux 2018</p>
      <%= image_tag "phung_voeux18.jpg", alt: "Bonne année 2018", class:"event-picture" %>
    </div>
  </div>

  <div class="section-container hidden" id="documents-container">
    <h1>Ingénierie en génie climatique, électrique,
    énergétique et environnemental</h1>

    <div class="title pt-4">
      <h2>documents</h2>
      <p class="pt-4">
        <%= link_to "/pdf/presentation.pdf", target:"_blank", class:"" do %>
          Présentation
        <% end %>
      </p>
      <p>
        <%= link_to "/pdf/moyens_bet.pdf", target:"_blank", class:"" do %>
          Moyens société
        <% end %>
      </p>
      <p>
        <%= link_to "/pdf/references2016.pdf", target:"_blank", class:"" do %>
          Références Phung Consulting
        <% end %>
      </p>
    </div>
  </div>

  <div class="section-container hidden" id="about-us-container">
    <h1>Climatic, electric, energetic and environmental engineering</h1>

    <div class="title pt-4">
      <h2>presentation of the company</h2>
    </div>

    <div class="text pt-4">
      <p>In the field of Thermal Environment (Heating, Ventilation, Air-conditioning and Smoke clearing) and of Sanitary Facilities (Plumbing), I am able to propose all the missions including the control of design from the feasibility of a project until the delivery of a job.</p>
      <p class="pt-4">According to the complexity of the project and the wishes of the customer, the missions can be declined as follows:</p>
      <ul>
        <li>Studies of programming defining the needs of the users of buildings;</li>
        <li>Audits and thermal diagnoses of the existing buildings;</li>
        <li>Recommendations in the technico-economic field and studies (investment, exploitation, profitability);</li>
        <li>Outline project with pilot study of various possible solutions;</li>
        <li>Estimate or detailed figuring of the labor costs;</li>
        <li>Assistance with the architect for the deposit of a permit building or a declaration of work;</li>
        <li>Assistance with the deposit of a declaration of installation classified for environmental protection (boiler room, refrigerating production…) ;</li>
        <li>Summary preliminary draft for definition of the services;</li>
        <li>Detailed preliminary draft for the dimensioning of the installations;</li>
        <li>File-project and Tender documents of the companies;</li>
        <li>Assistance in the making of the markets with comparative analysis of the estimates of companies;</li>
        <li>Control of the execution documents of the companies;</li>
        <li>Control of the works in course of execution;</li>
        <li>Works preliminary to the reception;</li>
        <li>Finalization of the works of the companies;</li>
        <li>H.Q.E. steps
      </ul>
      <p>My skills are particularly orientated towards the global or partial construction or restoration of tertiary, industrial or residential buildings, such as buildings of offices, residences hotel, shops and banking agencies, space of exposure and museographic.</p>
      <p class="pt-4">I’m working for building owners, patrimonial investors, property developers, project superintendents, architects, or contractors in important research departments.</p>
      <p>My activity is covered by a professional insurance EUROMAF (Mutual of the French Architect).</p>
      <p class="pt-4">My recent achievements are inter alia:</p>
      <ul>
        <li>New building of the Offices and Workshops of 14.000 m ² with certification HQE and THPE in Paris (75013) for Real Vinci;</li>
        <li>Banking agencies CIC and Mutual credits (37 agencies treated from 150 to 300 m ² by agency) at Paris and Ile de France for the Banks CIC IDF and Mutual credit;</li>
        <li>Construction of the space of Temporary exhibition to the Museum of Pierre with Saint Maximim for the Town of Maximim Saint;</li>
        <li>Repair of 7 sub-stations in the Clairval Institute in Bièvres for ESSOR</li>
        <li>Installation of a space museographic of 2.000 m ² in two old lace manufactures to the Museum of lace with Retournac (43130) for the Town of Retournac;</li>
        <li>Design engineering of a new building of a hotel controls in France of 110 rooms of the new concept “Continuation hotel” of 3.000 m ² (with project of international establishment) for Group ACCOR;</li>
        <li>Feasibility study of the heat pump on ground water of the site of maintenance and putting up of tramway T2 of 3 700 m² in Colombes for the RATP</li>
      </ul>
      <p>Feasibility study of the heat pump on vertical probes for the transformation of the Manor of Sauvegrain (classified building) into hotel 3 stars of 1.300 m ² to St Lambert of Wood (78) for the Association of November 23.</p>
      <p class="pt-4">Studies in the thermics for ten projects mainly in Ile de France:</p>
      <ul>
        <li>Eurosquare Bureaux of 15.000 m2 to St Ouen;</li>
        <li>Biopark - 2 biotechnic buildings Offices and 3 buildings - 30.000 m2 in Paris 13th;</li>
        <li>Project Sun & Moon - 14 buildings of residences haussmanniens of approximately 50.000 m2 located at the République avenue in Marseilles;</li>
        <li>Foundry Manor Industries 46.000 m2 with Outreau;</li>
        <li>Hotel Ambassador - 16 Bd Haussmann in Paris;</li>
        <li>Office building of 5.000 m2 with Charenton-the-Bridge;</li>
        <li>Office buildings 5.000 and 7.000 m2 with 5/7 rue Scribe in Paris;</li>
        <li>Office building - 16 rue Washington in Paris;</li>
        <li>Office building - Turn Eurocity III - Avenue Willy BRANDT in Lille.</li>
      </ul>
    </div>
  </div>

  <div class="section-container hidden" id="contact-container">
    <h1>Ingénierie en génie climatique, électrique,
    énergétique et environnemental</h1>

    <div class="title pt-4">
      <h2>contact</h2>
    </div>

    <div class="text pt-4">
      <h2>Bureau d'études fluides</h2>
      <p>110, rue de Fontenay 94300 Vincennes</p>
      <p>tél : +33 (0)1 48 59 12 96</p>
      <p>email : contact@phungconsulting.fr</p>
    </div>
  </div>
</div>
