<div class="section-container">
  <h1>Ingénierie en génie climatique, électrique,
  énergétique et environnemental</h1>

  <div class="title pt-4">
    <h2>principales références</h2>
    <%= link_to "/pdf/references2016.pdf", target:"_blank", class:"btn btn-primary" do %>
      Téléchargez le PDF
    <% end %>
  </div>

  <div class="reference-categories pt-4">
    <div>
      <p>Audits</p>
      <%= image_tag "audits.jpg", alt: "audits", class:"reference-picture" %>
    </div>
    <div>
      <p>Logements</p>
      <%= image_tag "logements.jpg", alt: "logements", class:"reference-picture" %>
    </div>
    <div>
      <p>Tertiaires</p>
      <%= image_tag "tertiaires.jpg", alt: "tertiaires", class:"reference-picture" %>
    </div>
  </div>

  <div class="text-center">
    <div id="reference-carousel" class="carousel slide pt-4 pb-2" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "reference/reference1.jpg", alt: "First reference", class:"d-block reference-carousel" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "reference/reference2.jpg", alt: "Second reference", class:"d-block reference-carousel" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "reference/reference3.jpg", alt: "Third reference", class:"d-block reference-carousel" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "reference/reference4.jpg", alt: "Fourth reference", class:"d-block reference-carousel" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "reference/reference4.jpg", alt: "Fifth reference", class:"d-block reference-carousel" %>
        </div>
      </div>
    </div>
  </div>
</div>
